<p>ng-style works!</p>

<!--<button (click)="backgroundToggle= !backgroundToggle">Toggle with ngStyle</button>-->

<!--<div [ngStyle]="{-->
<!--  width: '200px',-->
<!--  height: '200px',-->
<!--  borderRadius: '5px',-->
<!--  border: '1px solid #ccc',-->
<!--  background: backgroundToggle ? 'red' : 'blue'-->
<!--   }">-->
<!--</div>-->

<!--<p [ngClass]="{-->
<!--red: backgroundToggle,-->
<!--blue: !backgroundToggle-->
<!--}">Hello bro</p>-->

<!--<p [class.blue]="backgroundToggle">Lorem</p>-->

<!-- Structure directives: *ngIf else-->

<!--<button (click)="toggleForStructureDirective = !toggleForStructureDirective"></button>-->
<!--<div *ngIf="toggleForStructureDirective; else blueParagraph" class="directives reds">Red</div>-->

<!--<ng-template #blueParagraph>-->
<!--  <p class="blue">NICEEEE</p>-->
<!--</ng-template>-->



<!-- Structure directives: *ngSwitch-->

<!--<button (click)="switch = !switch">Switch</button>-->

<!--<div class="switch" [ngSwitch]="switch">-->
<!--  <p *ngSwitchCase="true" class="red">RED</p>-->
<!--  <p *ngSwitchCase="false" class=blue>Blue</p>-->
<!--  <p *ngSwitchDefault>DEFAULT</p>-->
<!--</div>-->


<!-- Structure directives: *ngFor-->

<!--<h1>*ngFor</h1>-->

<!--<ul>-->
<!--  <li *ngFor="let n of arr; let idx = index">-->
<!--   {{idx}} {{n}}-->
<!--  </li>-->
<!--</ul>-->


<ul>
  <li *ngFor="let post of hardArrWithObjects">
    <p>{{post.title}} <b>{{post.author}}</b></p>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>
            {{comment.name}}
          </small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>
  </li>
</ul>
