<div class="own-directives">
  <p appStyle="red" fontWeight="bold">Lorem lalala</p>

</div>

<!-- Structural directive-->

<div class="structural" *ngIf="isVisible">

  <div class="my">
    <p>lalallala</p>
  </div>

</div>

<!-- The same as -->
<ng-template  [ngIf]="isVisible">
  <div class="structural">
    <div class="my">
      <p>lalallala</p>
    </div>
  </div>
</ng-template>


<!-- My Own Directive -->

<div class="own-directive" *appOwnDirective="!isVisible">
  <div class="lala">
    <span>My own directive</span>
  </div>
</div>
